@model EnemyItemsViewModel
@{
    ViewData["Title"] = "AddItems";
}

<h1>@ViewData["Title"]</h1>
<div class="container">
    <ul>
        @foreach (var item in Model.Items)
        {
            <li>
                @item.Id) @item.Name
                <a asp-action="AddItem"
                   asp-route-enemy="@Model.EnemyId"
                   asp-route-item="@item.Id">
                    <i class="fas fa-plus-square"></i>
                </a>
            </li>
        }

    </ul>
</div>
<div class="p-3">
    <a class="btn btn-primary btn-lg btn-block"
       asp-area=""
       asp-controller="Enemy"
       asp-action="Index">
        Go Back
    </a>
</div>
