@model ReputationViewModel

<div class="container">
    <div class="card text-white bg-secondary mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img src="~/img/hero.png" class="card-img" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Hero Reputation</h5>
                    <div class="progress mt-1" style="height: 40px;">
                        <div class="progress-bar text-dark"
                             role="progressbar"
                             style="width: @Model.PeasantsInPercent.ToString("0")%;"
                             aria-valuenow=@Model.PeasantsInPercent.ToString("0.00")
                             aria-valuemin="0"
                             aria-valuemax="100">
                            Peasants: @Model.Peasants
                        </div>
                    </div>
                    <div class="progress mt-1" style="height: 40px;">
                        <div class="progress-bar text-dark"
                             role="progressbar"
                             style="width: @Model.ChurchInPercent.ToString("0")%;"
                             aria-valuenow=@Model.ChurchInPercent.ToString("0.00")
                             aria-valuemin="0"
                             aria-valuemax="100">
                            Church: @Model.Church
                        </div>
                    </div>
                    <div class="progress mt-1" style="height: 40px;">
                        <div class="progress-bar text-dark"
                             role="progressbar"
                             style="width: @Model.BanditsInPercent.ToString("0")%;"
                             aria-valuenow=@Model.BanditsInPercent.ToString("0.00")
                             aria-valuemin="0"
                             aria-valuemax="100">
                            Bandits: @Model.Bandits
                        </div>
                    </div>
                    <div class="progress mt-1" style="height: 40px;">
                        <div class="progress-bar text-dark"
                             role="progressbar"
                             style="width: @Model.NoblesInPercent.ToString("0")%;"
                             aria-valuenow=@Model.NoblesInPercent.ToString("0.00")
                             aria-valuemin="0"
                             aria-valuemax="100">
                            Nobles: @Model.Nobles
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
